@import 'viewCss/inex.scss';
@import 'globalCss/index.scss';
@import 'componentCss/index.scss';

//Global reset css

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// App.vue css

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #4f94d8;
    background: #292929;
    min-height: 100vh;
}